<!DOCTYPE html>
        <html lang="pt-BR">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Currículo</title>
        </head>
        <body>
            <h1>Currículo</h1>

            <h2>Informações Pessoais</h2>
            <ul>
                <li><strong>Nome:</strong> André Machado Ribeiro Soares</li>  
                <li><strong>Email:</strong> andranderlaine@gmail.com</li>
                <li><strong>Telefone:</strong> (31) 97201-4324</li>
            </ul>

               <h2>Endereço</h2>
            <ul>
                <li><strong>Rua:</strong> Jacinto pinto do mato</li>
                <li><strong>Bairro:</strong> ticutucano</li>
                <li><strong>Cidade:</strong> Tilambuco</li>
            </ul>

               <h2>Ensino</h2>
            <ul>
                <li><strong>Colégio Rouxinol / Neusa Rocha:</strong> 2º período ao 3º ano</li>
                <li><strong>Santo Agostinho:</strong> 4º ano ao 8º ano</li>
                <li><strong>Marista Padre Eustáquio:</strong> apenas 9º ano</li>
                <li><strong>Cotemig:</strong> 1º e 2º ano de E.M</li>
                <li><strong>Atualmente:</strong> Cursando o 3º ano no Cotemig</li>
            </ul>

            <h2>Experiência Profissional</h2>
            <ul>
                <li><strong>Empresa:</strong> Jornal Nacional</li>
                <li><strong>Cargo:</strong> Tecnico de segurança cibernética</li>
                <li><strong>Período:</strong> fev 2010 - mar 2025</li>
            </ul>

         
        </body>
        </html>